<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Label.human_attribute_name(:name) %></th>
      <th><%= t('.registered_tasks_count') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.size %></td>
        <td><%= link_to t('common.edit'), edit_label_path(label), class: 'edit-label' %></td>
        <td><%= link_to t('common.destroy'), label, method: :delete, data: { confirm: t('common.confirm_destroy') }, class: 'destroy-label' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
